<h1>Listing testers</h1>

<table>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @testers.each do |tester| %>
      <tr>
        <td><%= tester.one %></td>
        <td><%= tester.two %></td>
        <td><%= tester.three %></td>
        <td><%= link_to 'Show', tester %></td>
        <td><%= link_to 'Edit', edit_tester_path(tester) %></td>
        <td><%= link_to 'Destroy', tester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tester', new_tester_path %>
