<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @tester.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @tester.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @tester.three %>
</p>

<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
