<h1>Listing attributes</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
       <th>Modelid</th>
      <th>Schema</th>
      <th>Tablename</th>
      <th>Field</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.id %></td>
        <td><%= attribute.modelid %></td>
        <td><%= attribute.schema %></td>
        <td><%= attribute.tablename %></td>
        <td><%= attribute.field %></td>
        <td><%= link_to 'Show', attribute %></td>
        <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
        <td><%= link_to 'Destroy', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attribute', new_attribute_path %>
