<p id="notice"><%= notice %></p>

<p>
  <strong>Attributedisplayid:</strong>
  <%= @textbox.attributeDisplayId %>
</p>

<p>
  <strong>Size:</strong>
  <%= @textbox.size %>
</p>

<%= link_to 'Edit', edit_textbox_path(@textbox) %> |
<%= link_to 'Back', textboxes_path %>
