<%= form_for(@model_display) do |f| %>
  <% if @model_display.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model_display.errors.count, "error") %> prohibited this model_display from being saved:</h2>

      <ul>
      <% @model_display.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelid %><br>
    <%= f.number_field :modelid %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
