<h1>Listing textreads</h1>

<table>
  <thead>
    <tr>
      <th>fieldDisplayId</th>
      <th>Truncation</th>
      <th>Truncation format</th>
      <th>Transformation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @textreads.each do |textread| %>
      <tr>
        <td><%= textread.fieldDisplayId %></td>
        <td><%= textread.truncation %></td>
        <td><%= textread.truncation_format %></td>
        <td><%= textread.transformation %></td>
        <td><%= link_to 'Show', textread %></td>
        <td><%= link_to 'Edit', edit_textread_path(textread) %></td>
        <td><%= link_to 'Destroy', textread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Textread', new_textread_path %>
