
<%= form_tag @form_path do |f| %>
  <%=@app_format.app_wrapper.html_safe%>
  <% if @app_format.separate_header_row %>
    <% @displayable_attributes.each do | displayable_attribute | %>
      <%= @app_format.field_header_wrapper.html_safe%>
      <%= sortable displayable_attribute[:attribute].field %>
      <%= @app_format.field_header_wrapper_end.html_safe%>
    <% end %>
  <% end %>

  <% @models.each do |model| %>
    <%= @app_format.record_wrapper.html_safe%>
    <% @displayable_attributes.each do | displayable_attribute | %>
      <% if @app_format.app_format == 'profile_table' %>
        <tr><th><%=displayable_attribute[:attr_display].header %></th><td>
      <% end %>
      <%= @app_format.field_wrapper.html_safe%>
      <%# logger.info "bkkkkbkbkbkbkbkbkbkbkbk " + model.inspect %>
     <%=render template: displayable_attribute[:attr_display].format.tableize + "/show", locals: {displayable_attribute: displayable_attribute, obj: model} %>
      <%= @app_format.field_wrapper_end.html_safe %>
      <% if @app_format.app_format == 'profile_table' %>
        </td>
      <% end %>
    <% end %>
    <% if @app_format.app_format == 'grid' %>
    <%# abort(model.inspect) %>

      <td><%= link_to 'Show', get_path('show', model.id) %></td>
      <td><%= link_to 'Edit', get_path('edit', model.id) %></td>
      <td>destroy...<%#= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <%= @app_format.record_wrapper_end.html_safe%>
  <% end %>
  <%= submit_tag %>
  <%=@app_format.app_wrapper_end.html_safe%>
<% end %>
