
<!DOCTYPE html>
<html>
<head>
  <title>Mvcgui</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1><%= @modd_display.header %></h1>

<%if ['index', 'show'].include? params[:action]%>
<%= render partial: "layouts/mvcgui_read" %>
<%else %>
 <%= render partial: "layouts/mvcgui_write" %>
<% end%>


<%= link_to 'New', get_path('new') %>





<pre>





</pre>
<hr>record_format.name:
<%= @record_format.name %>
<BR> attribs:
<% @attributes.each do |attribute| %>
  <br><%= attribute.field %>
<% end %>

<hR> attrib id:
<% @attribute_ids.each do |attribute| %>
  <br><%= attribute %>
<% end %>
<hR> attrib disp:
<% @attr_displays.each do |attribute| %>
  <br><%= attribute.header %>
<% end %>


<hR> format:


</body>
</html>


